<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="autodetect">
	<bean id="businessMessageDao" class="com.platform.business.dao.BusinessMessageDaoImpl"></bean>
	<bean id="businessNumberDao" class="com.platform.business.dao.BusinessNumberDaoImpl"></bean>
	<bean id="businessOpinionDao" class="com.platform.business.dao.BusinessOpinionDaoImpl"></bean>
	<bean id="workHireDao" class="com.platform.business.dao.WorkHireDaoImpl"></bean>
	
	<bean id="businessMessageService" class="com.platform.business.service.BusinessMessageServiceImpl"></bean>
	<bean id="businessNumberService" class="com.platform.business.service.BusinessNumberServiceImpl"></bean>
	<bean id="businessOpinionService" class="com.platform.business.service.BusinessOpinionServiceImpl"></bean>
	<bean id="workHireService" class="com.platform.business.service.WorkHireServiceImpl"></bean>
	<bean id="mobileMessageService" class="com.platform.business.service.MobileMessageServiceImpl"></bean>
	
	<bean id="appService" class="com.platform.app.service.AppServiceImpl"></bean>
	
</beans>
